.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
public/hot
public/build
sinag-bughaw-web/node_modules
sinag-bughaw-web/dist
sinag-bughaw-admin/node_modules
sinag-bughaw-admin/dist
.phpunit.result.cache
Thumbs.db
.DS_Store
